:root {
  --main-color: #2196f3;
  --secondary-color: white;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #212121;
  --sixth-color: #f5f4fa;
  --seventh-color: #2f303a;
  --eighth-color: #e5e5e5;
  --nineth-color: #000000;
  --tenth-color: black;
  --border-color: #eeeeee;
  --headerborder-color: #ececec;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainelement {
  font-family: "Roboto", sans-serif;
  color: var(--fifth-color);
  background-color: var(--eighth-color);
  letter-spacing: 0.03em;
}
.backround {
  background: var(--seventh-color);
  background-image: url(../images/mainhtml.jpg);
  background-size: cover;
}
.backround-footer {
  background: var(--seventh-color);
}

.bigtext {
  font-size: 44px;
  color: var(--secondary-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}
.button-main {
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: var(--seventh-color);
  cursor: pointer;
  font-family: inherit;
}
.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--sixth-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.backround-ourteam {
  background-color: #f5f4fa;
}

.headtwo {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.descriptionlorem {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-color);
}

.member {
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  padding-bottom: 30px;
}
.member:last-child {
  margin: 0;
}
.picture-headtwo-margin {
  margin-right: 30px;
}

.picture-headtwo-margin:last-child {
  margin-right: 0;
}
.membersname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.workofmembers {
  font-size: 16px;
  line-height: 1.18;
  color: var(--third-color);
}

.button-portfolio:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.infolist {
  text-decoration: none;
  color: var(--fifth-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  /* margin: 46px; */
}
.infolist svg {
  margin-right: 10px;
  fill: var(--third-color);
}

.infolist:hover svg,
.infolist:focus svg {
  fill: var(--main-color);
}

.colorgrey {
  color: var(--third-color);
}

.navigationlist {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

.navigationlist > .infolist {
  color: var(--tenth-color);
}
.logo,
.logo-footer {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
}
.logo {
  color: var(--fifth-color);
}
.logo-footer {
  color: var(--secondary-color);
}

.logo > .blue,
.logo-footer > .blue {
  color: var(--main-color);
}

.list {
  display: flex;
  justify-content: center;
}
.contact {
  text-decoration: none;
  color: var(--third-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}
.contact:hover {
  color: var(--main-color);
}

.imagesdescription {
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.signdescription {
  color: var(--third-color);

  font-size: 16px;
  line-height: 1.8;
}

.studioname {
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.highlight {
  color: var(--nineth-color);
}
.highlightwhite {
  color: var(--fourth-color);
}

.topline {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.portoflio {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.hoverblue:hover,
.hoverblue:focus,
.hoverblue:active {
  color: var(--main-color);
}

.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.cityadress {
  color: var(--fourth-color);

  font-size: 14px;
  line-height: 1.71;
}

.nonetextstyle {
  font-style: inherit;
}
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* box-sizing: border-box; */
}
.headerstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box {
  margin-right: 93px;
}

.headermargin {
  margin-right: 46px;
}

.mailandtellist {
  display: flex;
  margin-left: 50px;
}
.nav-icons::before {
  margin-right: 10px;
}

.lorem-margin {
  margin-right: 30px;
}

.lorem-margin:last-child {
  margin-right: 0;
}
.lorem-backround {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.lorem-icons {
}
.align-member {
  text-align: center;
}
.social-list-item {
  display: flex;
  align-items: center;
}
.social-list-item:hover,
.social-list-item:focus {
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-color);
  /* fill: #fff; */
}
.social-icon {
  fill: #afb1b8;
}
.social-list-link:hover svg,
.social-list-link:focus svg {
  fill: var(--fourth-color);
}

.margin-customers {
  margin-right: 30px;
}
.margin-customers:last-child {
  margin-right: 0;
}

/* .containter {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
} */
.logo-box {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.picture-margin::last-child {
  margin-right: 0;
}
.buttons-portfolio {
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.buttons-margin {
  margin-right: 8px;
}
.buttons-margin ::last-child {
  margin-right: 0;
}
.images-project {
  flex-wrap: wrap;
  padding-top: 34px;
  padding-bottom: 94px;
}

.images-margin {
  margin-right: 30px;
  border: 1px solid var(--border-color);
}
.thirdimages-margin {
  margin-right: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-border {
  border-bottom: 1px solid var(--headerborder-color);
}

.our-customers {
  text-align: center;
  font-weight: 700;
}

/* Dzięki temu mam w poziomie nazwy */
/* .list li {
  display: inline;
} */

.padding-logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
  display: inline-block;
}
.padding-adress-footer {
  padding-top: 20px;
  padding-bottom: 9px;
}
.padding-mail-footer {
  padding-top: 9px;
  padding-bottom: 9px;
}
.padding-tel-footer {
  padding-bottom: 9px;
}

.footer-container {
  display: flex;
}

.footer-joinus-section {
  list-style: none;
  padding-top: 72px;
  margin-left: 172px;
}

.footer-joinus-icons {
  display: inline-flex;
  margin-top: 20px;
}
.join-us-text {
  color: var(--fourth-color);
}
.footer-joinus-link svg {
  fill: var(--fourth-color);
}
.footer-joinus-margin {
  margin-right: 10px;
}

.footer-joinus-margin:last-child {
  margin-right: 0;
}

.footer-joinus-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.footer-joinus-link:hover,
.footer-joinus-link:focus {
  background-color: var(--main-color);
}

.customer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.customer svg {
  fill: #afb1b8;
}

.customer:hover,
.customer:focus {
  border-color: var(--main-color);
}

.customer:hover svg,
.customer:focus svg {
  fill: var(--main-color);
}
